<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
<li>{{ order.color  }}</li>
<li>{{ order.color2 }}</li>
<li>{{ order.color3 }}</li>
<li>{{ order.amount }}</li>
<li>{{ order.quantity }}</li>
<li>{{ order.price }}</li>
<li>{{ order.name }}</li>
<li>{{ order.surname }}</li>
<li>{{ order.address }}</li>
<li>{{ order.phone }}</li>
<li>{{ order.email }}</li>
<li>{{ order.type }}</li>
<li>{{ order.status }}</li>
<li>{{ order.description }}</li>
</ul>
</body>
</html>