<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ order.id  }}
{{ order.date  }}
{{ order.name_surname }}
{{ order.from_where }}
{{ order.instagram }}
{{ order.phone }}
{{ order.rose_amount }}
{{ order.quantity }}
{{ order.colour }}
{{ order.colour2 }}
{{ order.colour3 }}
{{ order.packing }}
{{ order.order_type}}
{{ order.address }}
{{ order.delivery_data }}
{{ order.pickup_data }}
{{ order.total_price }}
{{ order.payment }}
{{ order.description }}
</body>
</html>