<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Choco Roses</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="/static/images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="/static/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/static/css/responsive.css">
   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
      <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
               <a href='/'>
               <div class="iq-light-logo">
                  <img src="/static/images/choco-logo.jpg" class="img-fluid" alt="">
               </div>
               <div class="iq-dark-logo">
                  <img src="/static/images/logo-dark.gif" class="img-fluid" alt="">
               </div>
               <span>Choco</span>
               </a>
               <div class="iq-menu-bt-sidebar">
                     <div class="iq-menu-bt align-self-center">
                        <div class="wrapper-menu">
                           <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
                           <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
                        </div>
                     </div>
                  </div>
            </div>
            <div id="sidebar-scrollbar">
               <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="iq-menu">
                     <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Home</span></li>
                     <li>
                        <a href="{% url 'index' %}" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Главная</span></a>
                     </li>

                     <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Apps</span></li>

                     <li><a href="{% url 'todo' %}" class="iq-waves-effect" aria-expanded="false"><i class="ri-chat-check-line"></i><span>Нужно сделать</span></a></li>
                     <li>
                        <a href="#orderinfo" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-profile-line"></i><span>Заказы</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="orderinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="{% url 'add-order' %}"><i class="ri-file-edit-line"></i>Добавить заказ</a></li>
                           <li><a href="{% url 'orders' %}"><i class="ri-file-list-line"></i>Список заказов</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="#components" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-menu-2-line"></i><span>Компоненты</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                        <ul id="components" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                           <li><a href="{% url 'boxes' %}" class="iq-waves-effect"><i class="ri-checkbox-blank-line"></i><span>Коробки</span></a></li>
                           <li><a href="{% url 'packings' %}" class="iq-waves-effect"><i class="ri-file-list-3-line"></i><span>Упаковки</span></a></li>
                           <li><a href="{% url 'products' %}" class="iq-waves-effect"><i class="ri-bank-card-line"></i><span>Продукты</span></a></li>
                        </ul>
                     </li>
                     <li><a href="{% url 'calendar' %}" class="iq-waves-effect"><i class="ri-calendar-2-line"></i><span>Календарь</span></a></li>
                     <li><a href="{% url 'settings' %}" class="iq-waves-effect"><i class="ri-settings-4-line"></i><span>Настройки</span></a></li>
                  </ul>
               </nav>
               <div class="p-3"></div>
            </div>
         </div>
         <!-- Page Content  -->
      </div>
      <div id="content-page" class="content-page">
          <div class="container-fluid">
              <form action="{% url 'save-order' %}" id="order_form" method="post">
                  {% csrf_token %}
                  <div id="row" class="row order-body">
                      <!-- Order details -->
                      <div class="col-lg-3 order">
                          <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                  <div class="iq-header-title">
                                      <h4 class="card-title">Добавить заказ</h4>
                                  </div>
                              </div>
                              <div class="iq-card-body">
                                  <div class="form-group">
                                      <label for="name_surname">Номер:</label>
                                      <input type="text" class="form-control" id="number" name="number" value="{{ order.number }}">
                                  </div>
                                  <div class="form-group">
                                      <label for="name_surname">ID клиента:</label>
                                      <input type="text" class="form-control" id="client_id" name="client_id" value="{{ order.client_id }}">
                                  </div>
                                  <div class="form-group">
                                      <label for="name_surname">Имя Фамилия:</label>
                                      <input type="text" class="form-control" id="name_surname" name="name_surname" value="{{ order.name_surname }}">
                                  </div>
                                  <div class="form-group">
                                      <label for="address">Адрес:</label>
                                      <input type="text" class="form-control" id="address" name="address" value="{{ order.address }}">
                                  </div>
                                  <div class="form-group">
                                      <label for="phone">Телефон:</label>
                                      <input type="tel" class="form-control" id="phone" name="phone" value="{{ order.phone }}">
                                  </div>
                                  <div class="form-group">
                                      <label for="instagram">Инстаграм:</label>
                                      <input type="text" class="form-control" id="instagram" name="instagram" value="{{ order.instagram }}">
                                  </div>
                                  <div class="form-group">
                                      <label for="payment">Оплата:</label>
                                      <input type="text" class="form-control" id="payment" name="payment" value="{{ order.payment }}">
                                  </div>
                                  <div class="form-group">
                                      <label for="given_date">Дата доставки/самовывоза:</label>
                                      <input type="text" class="form-control" id="given_date" name="given_date"
                                             placeholder="00:00 dd/mm/yyyy" value="{% if order.given_date != None %}{{ order.given_date|date:'H:i d/m/Y' }}{% endif %}">
                                  </div>
                                  <div class="form-group">
                                      <label for="delivery_price">Стоимость доставки:</label>
                                      <input type="text" class="form-control" id="delivery_price" name="delivery_price"
                                             placeholder="" value="{{ order.delivery_price }}">
                                  </div>
                                  <div class="form-group">
                                      <label>Тип заказа:</label>
                                      <select class="form-control" id="order_type" name="order_type">
                                          {% for order_type in order_types %}
                                            {% if order_type.type == order.order_type %}
                                                <option selected>{{ order_type.type }}</option>
                                            {% else %}
                                                <option >{{ order_type.type }}</option>
                                            {% endif %}
                                          {% endfor %}
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <label>Статус заказа:</label>
                                      <select class="form-control" id="order-status" name="order_status">
                                          {% for order_status in order_stats %}
                                            {% if order_status.status == order.order_status %}
                                                <option selected>{{ order_status.status }}</option>
                                            {% else %}
                                                <option >{{ order_status.status }}</option>
                                            {% endif %}
                                          {% endfor %}
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <label for="from_where">Откуда заказ:</label>
                                      <input type="text" class="form-control" id="from_where" name="from_where"
                                             placeholder="" value="{{ order.from_where }}">
                                  </div>
                                  <div class="checkbox">
                                      {% if order.anonymous == True %}
                                        <label><input class="mr-2 check" type="checkbox" name="anonymous" checked>Анонимно</label>
                                      {% else %}
                                        <label><input class="mr-2 check" type="checkbox" name="anonymous">Анонимно</label>
                                      {% endif %}
                                  </div>
                                  <div class="checkbox">
                                      {% if order.first_order == True %}
                                        <label><input class="mr-2 check" type="checkbox" name="first_order" checked>Первый заказ</label>
                                      {% else %}
                                        <label><input class="mr-2 check" type="checkbox" name="first_order">Первый заказ</label>
                                      {% endif %}
                                  </div>
                                  <div class="form-group">
                                      <label for="total_price">Общая стоимость:</label>
                                      <input type="text" class="form-control" id="total_price" name="total_price"
                                             value="{{ order.total_price }}">
                                  </div>
                                  <div class="mb-3 form-group">
                                      <label for="description" class="form-label">Описание</label>
                                      <textarea class="form-control" id="description" rows="3" name="description">{{ order.description }}</textarea>
                                  </div>
                                  <button type="button" class="btn btn-primary" id="saveorder">Сохранить заказ</button>
                                  <button type="button" class="btn btn-primary" id="add">Добавить еще букет</button>
                              </div>
                          </div>
                      </div>
                      <!-- Orders bucket -->
                      {% for bucket, bucket_colours in buckets %}
                      <div class="col-lg-3 bucket" id="bucket">
                          <div class="iq-card">
                              <div class="iq-card-header d-flex justify-content-between">
                                  <div class="iq-header-title">
                                      <h4 class="card-title">Добавить букет</h4>
                                  </div>
                              </div>
                              <div class="iq-card-body" id="col">
                                  <div class="form-group colour_table" id="colour_table">
                                      <label>Выберите цвет:</label>
                                      {% for col in bucket_colours %}
                                      <div class="form-group" id="colour">
                                          <select class="form-control" id="colours" name="colours">
                                              <option selected>{{col}}</option>
                                              {% for colour in colours %}
                                                    <option>{{colour.colour}}</option>
                                              {% endfor %}
                                          </select>
                                      </div>
                                      {% endfor %}
                                  </div>
                                  <button type="button" class="btn btn-primary" id="addcolour">Добавить еще цвет</button>
                                  <div class="form-group">
                                      <label>Выберите количество роз:</label>
                                      <select class="form-control" id="rose_amount" name="rose_amount">
                                          {% for amount in rose_amounts %}
                                            {% if amount == bucket.rose_amount %}
                                                <option>{{amount.rose_amount}}</option>
                                            {% else %}
                                                <option selected>{{amount.rose_amount}}</option>
                                            {% endif %}
                                          {% endfor %}
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <label>Выберите упаковку:</label>
                                      <select class="form-control" id="packing" name="packing">
                                          <option></option>
                                          {% for pack in rose_packings %}
                                            x`{% if pack == bucket.rose_packing %}
                                                <option selected>{{pack.packing}}</option>
                                            {% else %}
                                                <option>{{pack.packing}}</option>
                                            {% endif %}
                                          {% endfor %}
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <label>Выберите коробку:</label>
                                      <select class="form-control" id="rose_box" name="rose_box">
                                          <option></option>
                                          {% for box in boxes %}
                                            {% if box.box == bucket.rose_box %}
                                                <option selected>{{box.box}}</option>
                                            {% else %}
                                                <option>{{box.box}}</option>
                                            {% endif %}
                                          {% endfor %}
                                      </select>
                                  </div>
                                  <div class="form-group">
                                      <label for="price">Цена:</label>
                                      <input type="text" class="form-control" id="price" name="price" value="{{ bucket.price }}">
                                  </div>
                                  <div class="form-group">
                                     <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                     </div>
                                  </div>
                                  <img src="/media/{{bucket.image}}" class="img-fluid" alt="Responsive image">
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </form>
          </div>
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      <footer class="iq-footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                     <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                  </ul>
               </div>
               <div class="col-lg-6 text-right">
                  Copyright 2020 <a href="#">Rose</a> All Rights Reserved.
               </div>
            </div>
         </div>
      </footer>

      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->

      <script src="/static/js/jquery.min.js"></script>

      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="/static/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="/static/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="/static/js/waypoints.min.js"></script>
      <script src="/static/js/jquery.counterup.min.js"></script>
      <!-- Wow, JavaScript! -->
      <script src="/static/js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="/static/js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="/static/js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="/static/js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="/static/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="/static/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="/static/js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="/static/js/lottie.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="/static/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="/static/js/custom.js"></script>

      <!--MINE-->
      <script src="/static/js/orders.js"></script>
   </body>
</html>